p-menubar {
    position: sticky;
    position: -webkit-sticky; // Needed for Safari browsers.
    z-index: 99; // This prevents elements to be seen through the toolbar.
    top: 0; // Required for "position: sticky" to take effect.
}