<!-- <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">

	<div fxLayout="row" fxLayoutAlign="start center">
		<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
		</button>
		<button mat-button routerLink="/">Home</button>
		<button mat-button routerLink="/identity-services">Identity Services</button>
	</div>

	<div fxLayout="row" fxLayoutAlign="space-between center">
		<div ngbDropdown class="d-inline-block">
			<input [formControl]="search" class="form-control" id="dropdownBasic1" placeholder="Search for anything..." ngbDropdownToggle />
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				<button *ngFor="let item of $items | async" ngbDropdownItem [routerLink]="item.url">
					{{item.nameResult.pre}}<b>{{item.nameResult.highlight}}</b>{{item.nameResult.post}} <br>
					<small>{{item.shortDescriptionResult.pre}}<b>{{item.shortDescriptionResult.highlight}}</b>{{item.shortDescriptionResult.post}}</small>
				</button>
			</div>
		</div>
	</div>

	<div fxLayout="row" fxLayoutAlign="end center">

	</div>

</mat-toolbar> -->

<p-menubar [style]="{'color': 'white','background-color': '#035c67', 'border': '0', 'border-radius': '0px'}">
    <ng-template pTemplate="start">
        <img src="assets/logo.svg" height="30" class="ml-2" />
    </ng-template>

	<img src="assets/logo.svg" height="30" class="ml-2" />

    <ng-template pTemplate="end">
        <p-button icon="pi pi-search" label="Search for anything" styleClass="p-button-success p-button-outlined"></p-button>
    </ng-template>
</p-menubar>


<router-outlet></router-outlet>