:host{
    background-color: red;
}

.grid{
    margin: .5rem;
    gap: 1rem;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px 350px 350px;
}

.grid-item{
    background-color: gray;
}