/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

@import "gridstack/dist/gridstack.min.css";
@import "gridstack/dist/gridstack-extra.min.css";

html
{
    font-size: 16px;
    background-color: #eff3f8;
}
body {
    height: 100%;
    font-family: var(--font-family);
    margin: 0;
}

.grid-stack {
    background: #FAFAD2;
}

.grid-stack-item-content {
    text-align: center;
    background-color: #18bc9c;
}
